<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th><%= t("title") %></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @blocks.each do |block| %>
    <tr class="table table-hover table-condensed">
      <td><%= block.title %></td>
      <%= block_status(block) %>
      <td><%= link_to t("edit"), edit_block_path(block) %></td>
      <td><%= link_to t("delete"), block, method: :delete,
                      data: { confirm: t("block.confirm_delete") } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
