<%= simple_form_for card do |f| %>
<div class="form-group">
  <%= f.input :original_text,  as: :text, label: 'Оригинал',
                input_html: { class: 'form-control', required: true,
                              autofocus: true } %>
</div>

<div class="form-group">
  <%= f.input :translated_text,  as: :text, label: 'Перевод',
                input_html: { class: 'form-control', required: true } %>
</div>

<div class="form-group">
  <%= f.input :block_id, collection: current_user.blocks.all.order('title'),
                      prompt: 'Выберите колоду', label: 'Колоды',
                      input_html: { class: 'form-control', required: true } %>
</div>

<div class="form-group">
  <% if card.image? %>
    <%= f.input :remove_image, as: :boolean, label: t("card.remove_upload") %>
    <%= card_image(card.image_url) %>
  <% elsif card.remote_image? %>
    <%= card_image(card.remote_image) %>
    <%= remove_remote(card) %>
  <% else %>
    <div class="form-group">
      <%= f.input :image, as: :file, label: t("card.image") %>
      <%= f.input :image_cache, as: :hidden %>
    </div>
    <%= flickr_btn %>
    <div class="multiple-items"></div>
    <%= javascript_tag do %>
      var card_id = '<%=params[:id]%>'
    <% end %>
  <% end %>
</div>

<%= f.button :submit, 'Сохранить', class: 'btn btn-default' %>
<% end %>
