<div class="row" id="header">
  <div class="col-sm-12">
    <nav class="navbar navbar-default" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <%=  brand_link(current_user) %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= left_navbar(current_user) %>
          <%= right_navbar(current_user) %>
        </div>
      </div>
    </nav>
  </div>
</div>
