<h2><%= (t ".title") %></h2>

<%= form_tag fetch_cards_path, method: :post do %>
  <div class="form-group">
    <%= label_tag "", (t ".remote_url") %>
    <%= text_field_tag :remote_url, nil, class: "form-control", type: "url", required: true %>
  </div>
  <div class="form-group">
    <%= label_tag "", (t ".original_selector") %>
    <%= text_field_tag :original_selector, nil, class: "form-control", required: true  %>
  </div>
  <div class="form-group">
    <%= label_tag "", (t ".translated_selector") %>
    <%= text_field_tag :translated_selector, nil, class: "form-control", required: true  %>
  </div>
  <%= submit_tag (t ".action"), class: "btn btn-default" %>
<% end %>
