var channelId = "<%= ENV["SCALEDRONE_CHANNEL_ID"] %>"

if (!Notification) {
  alert('Your browser does not support notifications');
} else {
  getPermission(function (){
    var drone = new ScaleDrone(channelId)
    drone.on('open', function(error) {
      var room = drone.subscribe('notifications');
      room.on('open', function(error) {
        if (error) return console.error(error);
      });
      room.on('data', function(data) {
        var notification = new Notification(data.msg);
        setTimeout(function () {
          notification.close();
        }, 4000);
      });
    });
  });
}

function getPermission(callback) {
  if (Notification.permission === 'granted') {
    callback();
  } else {
    Notification.requestPermission(function (permission) {
      if (permission === 'granted') {
        callback();
      } else {
        alert('Unable to get permission');
      }
    });
  }
}
