/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at
 * the bottom of the compiled file so the styles you add here take precedence
 * over styles defined in any styles defined in the other CSS/SCSS files in this
 * directory. It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require slick
 *= require slick-theme
 */

@import 'bootstrap';

#header {
  margin-top: 10px;
}

.field_with_errors {
  @extend .has-error;
}

.card_image p {
  margin-bottom: 0px;
}

.card_remove_image {
  margin-left: 20px;
}

.block_user_current_block_id {
  margin-left: 20px;
}

.slick-slide {
  margin-left: 20px;
}

.slick-slide img {
  margin-bottom: 10px;
}

.picture {
  border: 8px solid #696969;
}
