<% if card %>
  <h2><%= t(:current_card_label) %></h2>

  <%= form_tag review_card_path(card_id: card.id), method: :put, remote: true do %>
  <%= trainer_image(card) %>

    <div class="form-group">
      <%= label_tag '', t(:original_text_label) %>
      <%= text_area_tag '', card.original_text, class: 'form-control',
                        disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag '', t(:translated_text_label) %>
      <%= text_area_tag :user_translation, nil, class: 'form-control',
                        required: true, autofocus: true %>
    </div>

    <%= submit_tag t(:check_card_button), class: 'btn btn-default' %>
  <% end %>
<% else %>
  <p class="lead"><%= t(:no_review_card_text) %></p>
<% end %>
