<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag "sticky-footer" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container" id="wrapper">
  <%= render 'shared/header' %>
  <div class="row" id="middle">
    <div id="notice_block">
    <%= render 'shared/alert_notice' %>
  </div>
  <div class="col-sm-12">
    <%= yield %>
  </div>
</div>
</div>
<%= footer(current_user) %>
</body>
</html>
